.DropdownContainer {
  position: relative;
  width: 100%;
  cursor: pointer;

  .Dropdown {
    height: 40px;
    width: 100%;
    padding: 10px;
    display: block;
    border: 1px solid #757575;
    border-radius: 4px;
    background: white;
    font-size: 12px;
    color: #999;
    appearance: none;
    cursor: pointer;
    &:focus {
      outline: none;
      border-color: #5264ae;
    }
  }
  .DropdownError {
    border-color: red;
  }
  .DropdownHasValue {
    color: black;
  }

  .Placeholder {
    color: #999;
    font-size: 12px;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -10px;
    transition: 0.2s ease all;
    background-color: white;
    padding: 2px 5px;
  }

  .ErrorMessage {
    position: absolute;
    top: 100%;
    left: 0;

    font-size: 10px;
    color: red;
    font-weight: 500;
  }

  .Icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
select::-ms-expand {
  display: none;
}

select option {
  color: black;
  background: white;
  font-size: 14px;
}

select option:disabled {
  color: #999;
}
