.DropdownContainer {
  position: relative;
  width: 100%;

  .Dropdown {
    height: 40px;
    width: 100%;
    padding: 10px;
    display: block;
    border: 1px solid #757575;
    border-radius: 4px;
    background: white;
    font-size: 14px;
    color: black;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='%23757575' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpath d='M6 9l6-6 6 6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 16px 16px;

    &:focus {
      outline: none;
      border-color: #5264ae;
    }
  }

  .Placeholder {
    color: #999;
    font-size: 12px;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -10px;
    transition: 0.2s ease all;
    background-color: white;
    padding: 2px 5px;
  }
}
