.CheckboxGroup {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .CheckboxLabel {
    display: flex;
    align-items: center;
    column-gap: 5px;

    input {
      margin: 0;
      appearance: none;
      width: 18px;
      height: 18px;
      border: 2px solid var(--primary-color);
      border-radius: 4px;
      position: relative;
      cursor: pointer;
      background-color: white;

      &:checked {
        background-color: var(--primary-color);
      }

      &:checked::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 2px;
        transform: translate(-50%, -50%);
      }
    }
  }

  .ErrorMessage {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
}
