.FormBuilder {
  .Title {
  }

  .FormBody {
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    // padding-top: 0;

    .QuestionTitleRow {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .Right {
        display: flex;
        align-items: center;
      }
    }

    .QuestionTypeRow {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;

      .Checks {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 20px;
      }
    }
  }

  .FormBodyCollapsed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .DownIcon {
      cursor: pointer;
    }
  }
}
