.CollapsedFormBody {
  cursor: pointer;

  .QuestionTitleRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 14px;
    .Incomplete {
      color: red;
    }
  }
}
