.InputContainer {
  position: relative;
  //   margin: 26px 0 0 0;
  width: 100%;
  .Input {
    width: 100%;
    padding: 10px;
    display: block;
    border: 1px solid #757575;
    border-radius: 4px;
    background: white;
    font-size: 16px;
    color: black;
    &:focus {
      outline: none;
      border-color: #5264ae;
    }
    &:focus ~ .Placeholder,
    &:not(:placeholder-shown) ~ .Placeholder {
      top: -12px;
      left: 5px;
      font-size: 12px;
      color: #5264ae;
      background-color: white;
      padding: 2px 5px;
    }
  }

  .Placeholder {
    color: #999;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
  }
}
