.SingleFormBody {
  background-color: white;
  border-radius: 4px;
  min-height: 90vh;
  padding: 24px;

  .FormBodyContainer {
    .Title {
      text-align: center;
      font-weight: 500;
    }

    .ComponentsContainer {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      .SingleFormComponent {
        .ComponentTitle {
          font-size: 14px;
          font-weight: 500;
        }
        .FormComponent {
          margin-top: 5px;
        }
      }
    }

    .Footer {
      margin-top: 20px;

      .ValidityText {
        margin-top: 5px;
        font-size: 14px;

        display: flex;
        align-items: center;
        column-gap: 5px;
      }
    }
  }

  .FormBodyContainer :global {
    animation: fadeIn 400ms ease-in-out;
  }
}

.SingleFormBody :global {
  animation: fadeIn 400ms ease-in-out;
}

.Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
