.CheckboxContainer {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  color: black;
  font-size: 12px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .Checkmark {
      background-color: var(--primary-color);
      border-color: var(--primary-color);

      &:after {
        display: block;
      }
    }
  }

  .Checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 2.5px;
      width: 3px;
      height: 7px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  //   &:hover input ~ .Checkmark {
  //     background-color: #ccc;
  //   }
}
