.AppHome {
  font-size: 18px;
  border: 1px dashed white;
  text-align: center;
  color: white;
  .Buttons {
    margin-top: var(--flex-gap);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--flex-gap);
  }
}

:global(.AppHome) {
  animation: fadeIn 2s ease-in-out;
}

.AppHome :global {
  animation: fadeIn 400ms ease-in-out;
}
