.AppHome {
  font-size: 18px;
  border: 1px dashed white;
  text-align: center;
  .Buttons {
    margin-top: var(--flex-gap);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--flex-gap);
  }
}
