.FormRenderer {
  color: white;
  .Title {
    color: white;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .SavedFormsContainer {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  .SavedFormsContainer :global {
    animation: fadeIn 400ms ease-in-out;
  }

  .FormContainer {
    background-color: white;
    border-radius: 4px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    // .SingleFormField {
    // }
  }
}

.FormRenderer :global {
  animation: fadeIn 400ms ease-in-out;
}
